@import "../../../styles/variables";

.header {
  width: 100%;
  padding: 0 15px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: $color-white;

  @media screen and (max-width: $breakpoint__xl) {
    width: 1200px;
  }

  @media screen and (max-width: $breakpoint__lg) {
    width: 992px;
  }
}

.header__left {
  display: flex;
  gap: 20px;
  align-items: center;

  h4 {
    color: $color-black;
    font-weight: 700;
  }
}
