.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;

  width: 17.6px;
  height: 17.6px;
  border-radius: 17.6px;
  box-shadow: 44px 0px 0 0 rgba(33, 150, 243, 0.2), 35.6px 26px 0 0 rgba(33, 150, 243, 0.4),
    13.64px 41.8px 0 0 rgba(33, 150, 243, 0.6), -13.64px 41.8px 0 0 rgba(33, 150, 243, 0.8), -35.6px 26px 0 0 #2196f3;
  animation: spinner-b87k6z 0.8s infinite linear;
}

@keyframes spinner-b87k6z {
  to {
    transform: rotate(360deg);
  }
}
