$color-white: white;
$color-black: black;
$bg-color: #f5f5f5;
$color-primary: #2196f3;
$color-secondary: #1769aa;
$color-disabled: #829baf;
$color-error: #c62828;

$breakpoint__xxl: 1400px;
$breakpoint__xl: 1200px;
$breakpoint__lg: 992px;
$breakpoint__md: 768px;
$breakpoint__sm: 576px;
