@import "../../../styles/variables";

.input__title {
  width: 100%;

  input {
    width: 100%;
    height: 50px;
    border: 2px solid $color-primary;
    border-radius: 5px;
    outline: 0;
    padding: 10px 10px;
    box-shadow: none;
    color: $color-black;
    font-weight: 500;
    font-size: 17px;
    background-color: transparent;

    &:focus {
      border-color: $color-secondary;
    }
  }
}
